{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
      Sign Up
    {% endblock title %}
{% block main %}

<div class="signin-wrapper signin" >
  <form action="" method='post'>
    {% csrf_token %}
    <div class="head">
      <h2>Sign Up page <i class="bi bi-shield-plus"></i> </h2>
    </div>
    <div class="body">
      <div class="left">
        <label for="fname">
          first name
          <input type="text" id="fname" name='first name' required/>
        </label>
        <label for="dob">
          Date of Birth
          <input id="dob" type="date" name='date of birth' required/>
        </label>
        <label for="email">
          Email
          <input id="email" type="email" name='email' required/> </label
        ><label for="password1">
          Password
          <input id="password1" type="password" name='p1' required
        /></label>
      </div>
      <img src="{% static 'img/logo.jpg' %}" alt="" srcset="">
      <div class="right">
        <label for="lname" >
          Last name:
          <input type="text" id="lname" name='last name' required/>
        </label>
        <label for="pn">
          Phone No:
          <input id="pn" type="tel" name='phone number' required/>
        </label>
        <label for="username">
          Username
          <input id="username" type="tezt" name='username' required/> </label
        ><label for="password2">
          ConfirmPassword
          <input id="password2" type="password" name='p2' required
        /></label>
      </div>
    </div>
    <div class="down">
      <div class="top">
        <label for="staff">
          Student
            <input id="staff"  type="radio" name="account_type" value='Student' required />
        </label>
        <label for="student">
            Staff
            <input id="student" type="radio" name="account_type" value='Staff' required/>
        </label>
        <label for="orders">
            Others
            <input id="orders" type="radio" name="account_type" value='Orther' required/>
        </label>
      </div>
      <label for="is">
          Staff|Student|others ID
          <input id="id" type="text" name='account_id' required></label>
    </div>
    <button type="submit">Sign Up</button>
    <div class="tail">
      <a href="{% url 'password_reset' %}">forgot password?</a>
      <a href="{% url 'authentication:login' %}">Sign In</a>
  </div>
  </form>
</div>
{% endblock main %}