{% extends 'base.html' %}
{% load static %}
{% block title %}
Kitchen |
Add Food
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">  
{% endblock styles %}  


{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block main %}
{% include 'kitchen/components/aside.html' %}
<div class="food-add">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <img src="" id="image" alt="">
        <input type="file" name="image" id="file">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="quantity" placeholder="quantity">
        <select name="category" id="">
            
            {% for cat in categories %}
                <option value="{{cat.name}}">{{cat.name}}</option>
            {% endfor %}
                
        </select>
        <button>Add</button>
    </form>
</div>
{% endblock main  %}


{% block script %}
<script>


    const inputFile = document.querySelector('#file')
    
    inputFile.addEventListener('change', (e)=> {
        
        document.querySelector('#image').src = URL.createObjectURL(e.target.files[0])
    })

</script>
<script src="{% static 'js/admin.js' %}" defer></script>
    
{% endblock script %}
    