{% extends 'admin-layout.html' %}
{% load static %}
{% block title %}
Kitchen | Foods
{% endblock title %}
{% block aside %}
    {% include 'kitchen/components/aside.html' %}
{% endblock aside %}


{% block main %}
<div class="view">
     
    <div class="order-item-wrapper">
        <h1>All foods</h1>
        <div class="access">
            <button onclick="printSelected('tb')">print <i class="bi bi-printer"></i></button>
            <button onclick="printSelected('tb')">export pdf <i class="bi bi-filetype-pdf"></i></button>
        </div>
        <table id="tb">
            <thead>
                <tr>
                    <td>SN</td>
                    <td>picture</td>
                    <td>food name</td>
                    <td>food category</td>
                    <td>quantity</td>
                    <td colspan="2">action</td>
                </tr>
            </thead>
            <tbody>
                
                {% for order in foods %}
                    
                    <tr id="tr{{order.id}}">
                        <td>{{forloop.counter}}</td>
                        <td><img class="food-img" src="{{order.image.url}}" alt=""></td>
                        <td>{{order.name}}</td>
                        <td>{{order.category.name}}</td>
                        <td>{{order.quantity}}</td>
                        <div class="food-manage-wr" id="food{{order.id}}">
                        <div id="form{{order.id}}" class="form">
                            {% csrf_token %}
                            <div>
                                <h1>Managing {{order.name}}</h1>
                                <button onclick="closeFoodModal()"><i class="bi bi-x-lg"></i></button>
                            </div>
                            <input type="hidden" name="url" value="{% url 'kitchen:save-food' order.id %}">
                            <input type="text" value="{{order.name}}" name="name" placeholder="name">
                            <input type="text" value="{{order.quantity}}" name="quantity"placeholder="quantity">
                            <input type="text" value="{{order.price}}" name="price" placeholder="price" >
                            <button class="save">save</button>
                        </div>
                    </div>
                        <td class="table-actions">
                            <button id="tr{{order.id}}-confirm" onclick="ManageFood(document.querySelector('#food{{order.id}}'))">
                                Manage
                            </button>
                        </td>
                        <td class="table-actions">
                            <button id="tr{{order.id}}-confirm" onclick="remove(document.querySelector('#form{{order.id}}'))">
                                Remove
                            </button>
                        </td>
                    </tr>
                    
                    {% empty %}
                    <h1>No food</h1>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
    

</div>

{% endblock main %}


{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>
<script>
    function remove(tag){
        let loading = document.querySelector('.loading-modal')
        loading.querySelector('p').innerText = 'removing food...'
        loading.style.display = 'flex'
        saveFood(tag, 'DELETE')
    }
    function ManageFood(tag){
        btn = tag.querySelector('.save')

        tag.style.display = 'block'
        btn.addEventListener('click', ()=>{
            let loading = document.querySelector('.loading-modal')
            loading.querySelector('p').innerText = 'saving food...'
            loading.style.display = 'flex'
            saveFood(tag, 'POST')
        })
        
    
    }
    async function saveFood(tag,method){
        let name,price,quantity,btn,url;
        url = tag.querySelector('[name="url"]').value
        csrf = tag.querySelector('[name="csrfmiddlewaretoken"]').value
        name = tag.querySelector('[name="name"]').value
        price = tag.querySelector('[name="price"]').value
        quantity = tag.querySelector('[name="quantity"]').value
        let response = await fetch(url,{
            body: JSON.stringify({name,price, quantity}),
            method: method,
            headers:{
                'X-CSRFToken': csrf
            }
        })
        let d = await response.json()
        let loading = document.querySelector('.loading-modal')
        if(d.success){
            loading.querySelector('p').innerText = 'Successfully...'
            location.reload()
            
        }else{
            loading.querySelector('p').innerText = 'Error...'
        }
        setTimeout(()=> loading.style.display = 'none', 1500)
    }
    function closeFoodModal(){
        document.querySelectorAll('.food-manage-wr').forEach(tag=>tag.style.display = 'none')
    }
</script>


{% endblock script %}
    
