{% extends 'admin-layout.html' %}
{% load static %}
{% block title %} Administrator | Dashboard{% endblock title %}

{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>
<script src="{% static 'js/greeting.js' %}" defer></script>
{% endblock script %}

{% block aside %}
    
{% include 'kitchen/components/aside.html' %}
{% endblock aside %}
    
{% block main %}

    <div class="view">
        <section class="t_re">
            <div class="box">
                <h2>Foods available <i class="bi bi-cart2"></i></h2>
                <div class="sell-count">
                    <h1>{{available_foods}}</h1>
                    <a href="">check</a>
                </div>
            </div>
            <div class="box">
                <h2>Foods not available <i class="bi bi-cart4"></i></h2>
                <div class="sell-count">
                    <h1>{{not_available_foods}}</h1>
                    <a href="">update</a>
                </div>
            </div>
            <div class="box">
                <h2>All foods <i class="bi bi-minecart-loaded"></i></h2>
                <div class="sell-count">
                    <h1>{{all_foods}}</h1>
                    <a href="">check</a>
                </div>
            </div>
        </section>

        <section class="large">
            <div class="box">
                <h2>Recent orders <i class="bi bi-cart"></i></h2>
                <div class="orders_wrapper">
                    
                    {% for order in active_orders %}
                        <a href="/" class="order">
                            {{order.order.ordered_date}} {{order.time}} - <b>{{order.order.customer}}</b> order {{order.name}} from {{order.kitchen_attendant}} - {{order.get_status_display}}
                        </a>
                        {% empty %}
                        <h1>No orders</h1>
                        {% endfor %}
                        
                </div>
            </div>
        </section>
    </div>

{% endblock main %}