{% extends 'admin-layout.html' %}
{% load static %}
    
{% block style %}  
<link rel="stylesheet" href="{% static 'css/chats.css' %}">  
{% endblock style %}
{% block title %} Kitchen  | Chat {% endblock title %}

{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>

{% endblock script %}

{% block aside %}
{% include 'kitchen/components/aside.html' %}
{% endblock aside %}
    
{% block main %}
        <section class="view">
            
            
            {% include 'administrator/components/chat.html' with messages=msgs  %}
                
          
        </section>

{% endblock main %}


