*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    background-image: url(../img/abg.jpg);
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: var(--text-color);
}
.modal{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 88;
}
main{
    /* background-color: #282828; */
    flex: 2;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-width: 900px;
}
aside{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 200px;
}
.view{
    padding: 0 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.view i{
    font-size: 30px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    color: black;
}
.info img{
    width: 100px;
    height: 100px;
    border: 1px solid var(--border-color);
    object-fit: contain;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--text-color);
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    position: relative;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: larger;
}
nav i{
    font-size: 30px;
    font-weight: 600;
}
nav .last{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav .last button{
    background-color: transparent;
    border: none;
    font-size: medium;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
}
section{
    padding: 10px;
    padding-top: 0;
    width: 100%;
}
section.t_re{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
section.activities{
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: var(--background-color);
    padding: 5px;
    border: 2px solid var(--border-color);
}
table{
    width: 100%;
    border: 1px solid var(--border-color);
    border-collapse: collapse;
}
table thead{
    background-color: var(--text-color);
    color: var(--background-color);
}
table .table-actions button{
    padding: 5px 7px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}
.box .customers{
    overflow-y: scroll;
    /* height: 100%; */
    flex: 2;
    width: 100%;
}
td,tr{
    border: 1px solid rgb(203 203 205);
}
td{
    padding: 5px;
}
.t_re .box{
    width: 33.5%;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.sell-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex: 1;
}
.activities .box{
    width: 49.5%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.atcivities_wrapper{
    width: 100%;
    flex: 2;
    overflow-y: scroll;
    padding: 10px 0;
}.activity{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.activity a{
    text-decoration: none;
    color: var(--text-color2);

}
.large{
    padding-bottom: 0;
}
.large .box{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.orders_wrapper{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.orders_wrapper .order{
    text-decoration: none;
    color: var(--text-color2);
}

.categories{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.category{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.category > a{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(8 8 8 / 88%);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    gap: 10px;
}
.order-item-wrapper{
    background-color: var(--background-color);
    flex: 1;
    height: 100%;
    padding: 10px;
}
.order-item-wrapper .access button{
    padding: 10px;
    background-color: orangered;
    width: fit-content;
    margin-bottom: 5px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
.order-item-wrapper .access button:first-child{
    background-color: blue;
    
}
.new-attendant{
   width: 800px;
   height: fit-content;
   padding: 10px;
   background-color: var(--background-color);
   border-radius: 5px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-areas: 
        'h h h h'
        'f f f f'
        'g d n n'
        'e e p p'
        't t b b'
   ;
   gap: 10px;
}
.new-attendant > label{
    display: flex;
    flex-direction: column;
}
.new-attendant input,.new-attendant select{
    padding: 10px;
    font-size: medium;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
}
.new-attendant input:invalid{
    border-color: red;
}
.new-attendant button{
    padding: 10px;
    background-color: rgb(71, 141, 71);
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.new-attendant > h2{
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-attendant > h2 button{
    color: var(--text-color);
    background-color: transparent;
    border: none;
    font-size: medium;
    font-weight: 600;
}
.new-attendant [full_name]{
    grid-area: f;
}

.new-attendant [gender]{
    grid-area: g;
}
.new-attendant [date_of_birth]{
    grid-area: d;
}
.new-attendant [phone_no]{
    grid-area: n;
}
.new-attendant [email]{
    grid-area: e;
}
.new-attendant [password]{
    grid-area: p;
}
.new-attendant > p{
    grid-area: t;
}
.new-attendant > button{
    grid-area: b;
}
.admin-profile{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-profile > h1{
    text-align: center;
    font-size: xx-large;
    color: var(--background-color);
}
.admin-profile > a{
    background-color: rgb(57, 150, 57);
    border-radius: 4px;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}
.admin-profile .profile-body{
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'im name'
        'im em'
        'im gn'
        'im pn'
        'im at'
    ;
    width: 700px;
    border: 1px solid var(--border-color);
    padding: 10px;
    margin: auto;
    margin-top: 10px;

    gap: 10px;
}
.admin-profile .profile-body img{
    width: 400px;
    height: 300px;
    border: 1px solid var(--border-color);
    grid-area: im;
    object-fit: contain;
}

.admin-profile .profile-body [name]{
    grid-area: name;
}
.admin-profile .profile-body [email]{
    grid-area: em;
}
.admin-profile .profile-body [pn]{
    grid-area: pn;
}
.admin-profile .profile-body [at]{
    grid-area: at;
}
.admin-profile .profile-body [gn]{
    grid-area: gn;
}
.profile-body input:not([type='file']), .profile-body select{
    background-color: var(--background-color);
    color: var(--text-color);
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--border-color);
    outline: none;
    margin-top: 5px;
}
.profile-body > button{
    padding: 5px;
    font-weight: 600;
    border: 1px solid var(--border-color);
    background-color: var(--text-color);
    color: var(--background-color);
    cursor: pointer;
}
.new-cat{
    width: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'img img'
        'nm bt'
    ;
    background-color: var(--background-color);
    margin: auto;
    margin-top: 20px;
    gap: 10px;
}
.new-cat img{
    grid-area: img;
    width: 100%;
    height: 300px;
    border: 1px solid var(--border-color);
    object-fit: contain;
}
.new-cat input{
    grid-area: nm;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    outline: none;
}
.new-cat button{
    grid-area: bt;
    font-weight: 700;
    cursor: pointer;
}