*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --background-color: #313131;
    --text-color: #252525;
    --border-color: rgb(35, 35, 131);
    --secton-color: #121212;
}
body{
    margin: 0;
    background-image: url(../img/abg.jpg);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.modal{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 88;
}
main{
    /* background-color: #282828; */
    flex: 2;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-width: 900px;
}
aside{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
}
.view{
    padding: 0 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    color: black;
}
.info img{
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    position: relative;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}
nav .last{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section{
    padding: 10px;
    padding-top: 0;
    width: 100%;
}
section.t_re{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
section.activities{
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: #fffffffc;
    padding: 5px;
    border: 2px solid lightgray;
}
table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}
.box .customers{
    overflow-y: scroll;
    /* height: 100%; */
    flex: 2;
    width: 100%;
}
td,tr{
    border: 1px solid lightgray;
}
td{
    padding: 5px;
}
.t_re .box{
    width: 33.5%;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.sell-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex: 1;
}
.activities .box{
    width: 49.5%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.atcivities_wrapper{
    width: 100%;
    flex: 2;
    overflow-y: scroll;
    padding: 10px 0;
}.activity{
    width: 100%;
}
.activity a{
    text-decoration: none;
    color: gray;
}
.large{
    padding-bottom: 0;
}
.large .box{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.orders_wrapper{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.orders_wrapper .order{
    text-decoration: none;
    color: gray;
}

.categories{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.category{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.category > a{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(8 8 8 / 88%);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    gap: 10px;
}
.order-item-wrapper{
    background-color: white;
    flex: 1;
    height: 100%;
    padding: 10px;
}
.order-item-wrapper .access button{
    padding: 10px;
    background-color: orangered;
    width: 100px;
    margin-bottom: 5px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
.order-item-wrapper .access button:first-child{
    background-color: blue;
    
}
.new-attendant{
   width: 800px;
   height: fit-content;
   padding: 10px;
   background-color: white;
   border-radius: 5px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-areas: 
        'h h h h'
        'f f f f'
        'g d n n'
        'e e p p'
        't t b b'
   ;
   gap: 10px;
}
.new-attendant > label{
    display: flex;
    flex-direction: column;
}
.new-attendant input,.new-attendant select{
    padding: 10px;
    font-size: medium;
    border: 1px solid lightgray;
    outline: none;
}
.new-attendant input:invalid{
    border-color: red;
}
.new-attendant button{
    padding: 10px;
    background-color: rgb(71, 141, 71);
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.new-attendant > h2{
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-attendant > h2 button{
    color: black;
    background-color: transparent;
    border: none;
    font-size: medium;
    font-weight: 600;
}
.new-attendant [full_name]{
    grid-area: f;
}

.new-attendant [gender]{
    grid-area: g;
}
.new-attendant [date_of_birth]{
    grid-area: d;
}
.new-attendant [phone_no]{
    grid-area: n;
}
.new-attendant [email]{
    grid-area: e;
}
.new-attendant [password]{
    grid-area: p;
}
.new-attendant > p{
    grid-area: t;
}
.new-attendant > button{
    grid-area: b;
}