.attendants{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.attendant{
    width: 400px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.attendant img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid var(--border-color);
}
.attendant b{
    flex: 5;
}
.attendant a{
    width: fit-content;
    padding: 10px;
    background-color: #0095ff;
    text-decoration: none;
    border: none;
    color: var(--text-color);
}

.chat-view{
    max-width: 100%;
    height: 500px;
    /* flex: 3; */
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    /* flex: 1; */
    position: relative;
    margin: auto;
}
.chat-body{
    width: 400px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;
    overflow-y: scroll;
    background-color: var(--background-color);
}
.chat-view form{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: fit-content;
    border-top: 1px solid;
    padding: 5px 10px;
    background-color: var(--background-color);
}
.chat-view form div{
    display: flex;
    align-items: center;
    gap: 3px;
    width: 100%;
}
.chat-view form button{
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}
.chat-view form textarea{
    background-color: var(--background-color);
    color: var(--text-color);
    height: 50px;
    /* min-height: 50px; */
    flex: 2;
    border: 1px solid var(--border-color);
    outline: none;
    /* border-radius: 10px; */
    padding: 10px;
    resize: none;
}
.chat-view form img{
   height: 300px;
   width: 100%;
   object-fit: contain;
   display: none;
}
.chat-body .message.me{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.chat-body .message p img{
    width: 100%;
    object-fit: contain;
}
.chat-body .message p{
    max-width: 300px;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    
}
.chat-body .message span{
    font-size: 15px;
    color: var(--text-color2);
    font-style: italic;
}

@media screen and (max-width: 445px) {
    .attendant{
        width: 100%;
    }
    .chat-body{
        width: 100%;
    }
    .chat-view{
        width: 100%;
        height: 75vh;
        margin: 0% !important;
    }
    
}