*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    --background-color: lightgray;
    background-image: url('../img/bg2.webp');
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
main{
    width: 100%;
    min-height: 100%;
    position: relative;
}
footer{
    width: 100%;
    padding: 10px;
    background-color: rgb(53 52 52);
    color: white;
}
.welcome{
    
position: relative;
    
overflow: hidden;
    
height: 100vh;
    
display: flex;
    
flex-direction: column;
    
background-color: white;
    
margin-top: 10px;
}
.welcome .greet{
    margin:50px 20px;
}
.welcome .greet h2{
    font-size: 10vh;
    font-weight: 500;
}
.welcome .greet span{
    letter-spacing: 1px;
    font-size: 3.5vh;
    font-weight: 500;
}
.image-wrapper{

    width: 100%;
    height: 100vh;
    flex: 1;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: absolute;
    top: 10vh;
    left: 0;
    /* z-index: 0; */

}
.image-wrapper .img-1{
    position: absolute;
    border-radius: 100%;
    width: 90vh;
    height: 90vh;
    background-image: url(../img/home-pic1.jpg);
    background-position: -40vh -50vh;
    bottom: -50vh;
    background-size: auto;
    left: -40vh; 
    z-index: 1;
}
.image-wrapper .img-2{
    position: absolute;
    border-radius: 100%;
    width: 90vh;
    height: 90vh;
    background-image: url(../img/home-pic.jpg);
    background-position: 0vh -50vh;
    bottom: -65vh;
    background-size: auto;
    left: 40vh; 
    z-index: 2;
}
.image-wrapper .img-3{
    position: absolute;
    border-radius: 100%;
    width: 150vh;
    height: 150vh;
    background-image: url(../img/food.jpg);
    background-position: 0vh -50vh;
    bottom: -55vh;
    background-size: auto;
    left: 100vh; 
    z-index: 1;
}
.categories-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: white;
}
.categories-wrapper > h2{
    margin: 10px 20px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.category{
    width: 300px;
    height: 200px;
    background-color: rgb(125, 221, 125);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
    margin: 10px;
}
.category img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.category a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}
.order-wrap{
    width: 100%;
    height: fit-content;
    background-image: url(../img/food5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.order-wrap >div{
    background-color: rgba(143, 143, 143, 0.705);
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order-wrap p{
    margin: 5px;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 42px;
}
.order-wrap img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 20px;
    margin-top: 10%;
}
.order-wrap .order-btn{
    background-color: rgb(3, 43, 3);
    padding: 20px;
    width: 250px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 600;
    font-size: 3vh;
    text-align: center;
}
.order-wrap .address{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px 0;
}
.address ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.address a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 3vh;
}
.cat-list-wrp{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: unset;
    height: 100%;
    background-color: white;
    margin-top: 10px;
}
.cat-list{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.cat-item{
    width: 300px;
    height: 300px;
    background-color: rgb(104, 153, 47);
    color: white;
    border: 1px solid #68992f;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.cat-item-img{
    /* border-radius: 10px; */
    width: 100%;
    height: 76%;
    background-color: white;
    object-fit: contain;
}
.cat-item h3{
    align-self: center;
    margin: 2px;
}
.cat-item-info{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    padding: 5px 20px;
}

.cat-item-price,.cat-item-info button{
    font-size: larger;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.cat-item-info button{
    text-decoration: none;
    color: rgb(104, 153, 47);
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;

}
.cat-item-modal-wrp{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    /* height: 100vh !important; */
    background-color: rgba(80, 80, 80, 0.582);
    display:
    none;
    align-items: center;
    justify-content: center;
    z-index: 88;
    overflow: scroll;
}
.cat-item-modal{
    margin: 20px;
    /* width: 400px; */
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.cat-item-modal-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cat-item-modal-img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}
.cat-item-modal-sets{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    margin: 10px;
}
.cat-item-modal form{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 4px;
    
}
.textarea-label{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px;
    font-weight: 600;
}
.cat-item-modal-close{
    padding: 5px;
    font-weight: 600;
    font-size: large;
    border: none;
    width: 100%;
    cursor: pointer;
}
.textarea-label textarea{
    resize: none;
    padding: 10px;
}
.cat-item-modal-btn{
    background-color: rgb(104, 153, 47);
    color: white;
    font-weight: 600;
    align-self: flex-end;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}
.cat-item-modal-sets label{
    display: flex;
    flex-direction: column;
}
.cat-item-modal-sets input{
    width: 140px;
    padding: 7px;
    font-weight: 650;
    font-size: medium;
    margin: 4px 0;
}
.order-wrap .order-greet p:first-child{
    font-size: large;
}
.category-search{
    /* width: 500px; */
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 5%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
}
.category-search select{
    /* width: 200px; */
    padding: 10px;
    border: 1px solid lightgray;
    outline: none;
    cursor: pointer;
}
.category-search button{
    padding: 10px;
    background-color: blue;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.category-search input{
    padding: 10px;
    flex: 2;
    border: 1px solid lightgray;
    outline: none;
}
.service,.register-div{
    padding: 10px;
    background-color: white;
    font-weight: 500;
    font-size: medium;
    margin-top: 10px;
}
.register-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'title title'
    'account1 account2'
    'account3 account3'
    'n n'
    ;
    gap: 10px;
}
.register-div > p{
    grid-area: n;
}
.register-div > h1,.service > h1{
    grid-area: title;
    text-align: center;
    margin-bottom: 5px;
}
.account{
    padding: 20px;
    border: 2px solid orange;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.account > a{align-self: flex-end;background-color: blue;color: white;padding: 10px;text-decoration: none;border-radius: 5px;margin-top: 10px;}
.account1{
    grid-area: account1;
    height: fit-content;
}
.account2{
    grid-area: account2;
}
.account3{
    grid-area: account3;
}
.already_user{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 4px;
}
.already_user >a{
    text-transform: capitalize;
    margin: 0 5px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
@media screen and (max-width: 445px){
    .register-div{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'account1'
        'account2'
        'account3'
        'n'
        ;
        
    }
    .greet{
        margin: 15px 2px !important;
    }
    .order-wrap .address{
        flex-direction: column;
        gap: 10px;
    }
    .cat-item-modal{
        width: 100%;
    }
    .cat-item-modal-img{
        width: 100%;
        object-fit: contain;
    }
    .cat-item-modal form > div{
        flex-direction: column;
    }
    .cat-item-modal-wrp{
        /* overflow: scroll; */
        height: fit-content;
    }
}