{% extends 'base.html' %}

{% load static %}
{% block title %}
{{category}} | Foods
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/cat-item.css' %}">
    
{% endblock style %}
    

{% block script %}
    <script src="{% static 'js/order.js' %}" defer></script>
    {% comment %} <script src="{% static 'js/cat-item.js' %}" defer></script> {% endcomment %}
{% endblock script %}
    
{% block custom_header %}
            
{% endblock custom_header %}
  
{% block main %}
<section class="view">


    <div class="cat-list-wrp">
        <h1>{{category}}</h1>

        <div class="cat-list">
{% for food in foods %}
    {% include 'restaurant/components/cat-item.html' with food=food %}
{% endfor %}
        </div>

    </div>
</section>
{% endblock main %}