{% extends 'base.html' %}
{% load static %}
{% block title %} Categories {% endblock title %}
{% block style %}  
<link rel="stylesheet" href="{% static 'css/cat-item.css' %}">
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock style %}
{% block script %}
<script src="{% static 'js/order.js' %}" defer></script>
{% endblock script %}
{% block custom_header %}
            
{% endblock custom_header %}
{% block main %}
<section class="view">
{% if user.carts %}
    <div class="proced_to_order">
        <p>
            You have added {{user.carts.items.all|length}} items to cart <a href="{% url 'restaurant:cart' %}">click to proceed</a> payment
        </p>
    </div>
{% endif %}
    
<div class="categories-wrapper">
    <form method="get" class="category-search">
        <select name="restaurant">
            <option value="all">Restaurant</option>
        </select>
        <select name="category">
            <option value="all">Category</option>
            {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
        {% endfor %}
        </select>
        <input type="search" placeholder="Search food" name="food" required>
        <button>Search</button>
    </form>
    
    {% if search %}
    <h2>Search Result: {{result_count}} </h2>
    <div class="categories">
        <div class="cat-list">
            {% for food in foods %}
            
            {% include 'restaurant/components/cat-item.html' with food=food %}
            
    {% empty %}
        <p>Sorry, no result is return</p>
    {% endfor %}
    </div>
    {% endif %}
        
    <h2>All Categories</h2>
    <div class="categories">
            {% for category in categories %}
    <div class="category">
        <h3>{{category.name}}</h3>
        <img src="{{category.cover}}" alt="{{category.name}}">
        <a href="{% url 'restaurant:category-list' category.name %}">view</a>
    </div>
    {% endfor %}
    </div>

</div>
</section>
{% endblock main %}