{% extends 'base.html' %}
{% load static %}
    
{% block title %}
{{user.get_full_name}} Chats
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">  
<link rel="stylesheet" href="{% static 'css/chats.css' %}">  

{% endblock styles %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock script %}
{% block header %}
    
{% endblock header %}
  
{% block main %}
{% include 'restaurant/components/aside.html' %}
        <section class="view">

            <div class="attendants">
                <h2>Recent Chats</h2>
            {% for chat in recent_chats %}
                <div class="attendant">
                    <img src="{{chat.restaurant.admin.profile_pic}}"/>
                    <b>{{chat.restaurant.name}}</b>
                    <a href="{% url 'restaurant:chat' chat.restaurant.id %}">continue chat</a>
                </div>
            {% empty %}
                <b>No chat</b>
            {% endfor %}
            <hr />
            <div class="attendants">
                <h2>All Restaurants</h2>
                {% for restaurant in restaurants %}
                <div class="attendant">
                    <img src="{{restaurant.admin.profile_pic}}"/>
                    <b>{{restaurant.name}}</b>
                    <a href="{% url 'restaurant:chat' restaurant.id %}">start chat</a>
                </div>
            {% endfor %}
            </div>
                    
    
        </section>

{% endblock main %}