{% extends 'base.html' %}
{% load static %}
{% block custom_header %}
            
{% endblock custom_header %}

{% block main %}
    <div class="welcome">
            <div class="greet">
                <h2>Welcome to the <br> <font style="color: rgb(255, 154, 2);">Food</font><font style="color: rgb(153, 253, 123);">ify</font></h2>
            <span>Your Online Restaurant</span>
            </div>
            <div class="image-wrapper">
                <div class="img-1"></div>
                <div class="img-2"></div>
                <div class="img-3"></div>
            </div>
    </div>
    <div class="service">
        <h1>Who are we?</h1>
        <p>An organisation in food production and food delivery services.</p>
        <p>Aimed at serving students in the consumption sector, providing good food, fast and reliable delivery service and friendly staff.</p>
        <p>Your best food plug</p>
    </div>
    <div class="register-div">
        <h1>How it works?</h1>
        <p>You ( customer ) order from any of our listed foods, it get to you ( customer ) within short time..</p>
    </div>
    <div class="home-foods">
        <img src="{% static 'img/food1.jpg' %}" alt="">
        <img src="{% static 'img/food2.jpg' %}" alt="">
        <img src="{% static 'img/food3.jpg' %}" alt="">
        <img src="{% static 'img/food4.jpg' %}" alt="">
        <img src="{% static 'img/food5.jpg' %}" alt="">
        <img src="{% static 'img/home-pic.jpg' %}" alt="">
        <img src="{% static 'img/home-pic1.jpg' %}" alt="">
        <img src="{% static 'img/logo.jpg' %}" alt="">
    </div>
    <footer>
        <p>
            <font style="color: rgb(255, 154, 2);">Food</font><font style="color: rgb(153, 253, 123);">ify</font> 2022
        </p>
    </footer>

{% endblock main %}
    
 