{% extends 'base.html' %}
{% load static %}

{% block title %}
{{user.get_full_name}} Pending Orders
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">  

{% endblock styles %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock script %}
{% block header %}
    
{% endblock header %}
  
{% block main %}
        {% include 'restaurant/components/aside.html' %}
        <section class="view">
            <div class="status">
                    <table>
                        <thead>
                            <tr>
                                <td>SN</td>
                                <td>Food</td>
                                <td>Category</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for order in orders %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.name}}</td>
                                <td>{{order.category.name}}</td>
                                <td>{{order.quantity}}</td>
                                <td>N {{order.total_price}}</td>
                                <td>
                                    <button class="status-confirm">
                                        
                                        {% if order.kitchen_feed.first %}
                                        <a style="color: white;" href="{% url 'restaurant:feed' order.kitchen_feed.first.id %}">
                                            {{order.get_status_display}}
                                        </a>
                                        {% else %}
                                        {{order.get_status_display}}
                                        {% endif %}
                                            
                                    </button>
                                </td>
                                
                            </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
            </div>
        </section>
{% endblock main %}