{% extends 'base.html' %}
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">  

{% endblock styles %}
{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>
{% endblock script %}
{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block title %} Administrator | Categories{% endblock title %}

{% block main %}
{% include 'administrator/components/aside.html' %}
        <section class="view">
            <div class="shortcuts">
                {% for category in categories %}
                 <div class="shortcut kit" style="
                 background-image: url({{category.cover}});
             ">
                    <a href="{{kitchen.get_absolute_url}}">
                        <i class="fa-solid fa-kitchen-set"></i>
                    {{category.name}}
                    </a>
                </div>
                {% endfor %}

                <div class="shortcut kit" style="
                 background-color: white;
             ">
                    <a href="{% url 'administrator:new-cat' %}">
                        <i class="fa-solid fa-kitchen-set"></i>
                    Add Category
                    </a>
                </div>
               
            </div>
        </section>

{% endblock main %}