

{% extends 'admin-layout.html' %}
{% load static %}
{% block title %} Administrator | Categories{% endblock title %}

{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>
<script src="{% static 'js/greeting.js' %}" defer></script>
{% endblock script %}

{% block aside %}
    
{% include 'administrator/components/aside.html' %}
{% endblock aside %}
    
{% block main %}

    <div class="view">
        <p>All list of categories you can use...</p>
        <p>you can add one by clicking on <a href="{% url 'administrator:new-cat' %}">
            <i class="fa-solid fa-kitchen-set"></i>
        Add Category
        </a></p>
        <div class="categories">
            {% for category in categories %}
            <div class="category" style="
            background-image: url({{category.cover}});
        ">
                <a href="{{kitchen.get_absolute_url}}">
                    <i class="bi bi-shop"></i>
                {{category.name}}
                </a>
            </div>
            {% endfor %}

            <div class="category" style="
            background-color: white;
        ">
                <a href="{% url 'administrator:new-cat' %}">
                    <i class="bi bi-plus-lg"></i>
                Add Category
                </a>
            </div>
        
        </div>
    </div>
{% endblock main %}