{% extends 'authentication/base.html' %}
    
{% block main %}
<div class="signin-wrapper admin">
  <form action="" method='post' class="login">
    {% csrf_token %}
    <div class="head">
      <h2>Change Password <i class="fa fa-user-gear"></i></h2>
    </div>
    <label for="current_password">
        Current Password
        <input type="text" id="current_password" name='current password' required>
    </label>
    <label for="new_password">
        New Password
        <input id="password" type="new_password" name='new password' required>
    </label>
    <label for="confirm_password">
        Confirm New Password
        <input id="password" type="confirm_password" name='confirm password' required>
    </label>
    <button type="submit">Change</button>
    <div class="tail">
        <a href="/">forgot password?</a>
    </div>
  </form>
</div>

{% endblock main %}
