{% extends 'admin-layout.html' %}
{% load static %}
{% block title %} Administrator | Dashboard{% endblock title %}

{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>
<script src="{% static 'js/greeting.js' %}" defer></script>
{% endblock script %}

{% block aside %}
    
{% include 'administrator/components/aside.html' %}
{% endblock aside %}
    
{% block main %}

    <div class="view">
        <section class="t_re">
            <div class="box">
                <h2>Today sell <i class="bi bi-cart2"></i></h2>
                <div class="sell-count">
                    <h1>{{today_sell|length}}</h1>
                    <p>sold</p>
                </div>
            </div>
            <div class="box">
                <h2>This week sell <i class="bi bi-cart4"></i></h2>
                <div class="sell-count">
                    <h1>{{this_week_sell|length}}</h1>
                    <p>sold</p>
                </div>
            </div>
            <div class="box">
                <h2>Total sell <i class="bi bi-minecart-loaded"></i></h2>
                <div class="sell-count">
                    <h1>{{total_sell|length}}</h1>
                    <p>sold</p>
                </div>
            </div>
        </section>
        <section class="activities">
            <div class="box">
                <h2>Customers <i class="bi bi-people"></i></h2>
                <div class="customers">
                    <table>
                        <thead>
                            <tr>
                                <td>SN</td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Phon no.</td>
                                <td>Gender</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        {% for customer in customers %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{customer.get_full_name}}</td>
                                <td>{{customer.email}}</td>
                                <td>{{customer.phone_no}}</td>
                                <td>{{customer.get_gender_display}}</td>
                                
                            </tr>
                        {% endfor %}
                                
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="box">
                <h2>Activities <i class="bi bi-activity"></i></h2>
                <div class="atcivities_wrapper">
                    <div class="activity">
                        
                        {% for activity in activities %}
                        <a href="/">{{activity.datetimestamp}} - {{activity.message}}</a>
                        {% empty %}
                        <h1>No Activities</h1>
                        {% endfor %}
                            
                    </div>
                </div>
            </div>
        </section>
        <section class="large">
            <div class="box">
                <h2>Recent orders <i class="bi bi-cart"></i></h2>
                <div class="orders_wrapper">
                    
                    {% for order in last_few_recents %}
                        <a href="/" class="order">
                            {{order.order.ordered_date}} {{order.time}} - <b>{{order.order.customer}}</b> order {{order.name}} from {{order.kitchen_attendant}} - {{order.get_status_display}}
                        </a>
                        {% empty %}
                        <h1>No orders</h1>
                        {% endfor %}
                        
                </div>
            </div>
        </section>

    </div>

{% endblock main %}