{% extends 'admin-layout.html' %}
{% load static %}
{% block title %} Administrator | Kitchen{% endblock title %}

{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>
{% endblock script %}

{% block aside %}
    
{% include 'administrator/components/aside.html' %}
{% endblock aside %}
    


{% block modal %}
    <form method="post" action="{% url 'administrator:add-attendant' %}" class="new-attendant">
        {% csrf_token %}
        <h2>new attendant form <button onclick="closeModal()"><i class="bi bi-x-lg"></i></button></h2>
        <label for="f" full_name>
            Full name
            <input type="text" name="full_name" pattern="\w+(?:[\W]+\w+)+" required>
        </label>
        <label for="g" gender>
            Gender
            <select name="gender" id="g" required>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </label>
        <label for="dob" date_of_birth>
            Date of birth
            <input type="date" name="date_of_birth" required>
        </label>
        <label for="f" phone_no>
            Phone number
            <input type="tel" name="phone_no" required>
        </label>
        <label for="f" email>
            Email
            <input type="email" name="email" required>
        </label>
        <label for="f" password>
            Password
            <input type="text" name="password" required>
        </label>
        <p>Username will be generated automatically.</p>
        <button id="submitbtn">save</button>
        
    </form>
{% endblock modal %}
    


{% block main %}

<div class="view">
    
    <div class="order-item-wrapper">
        <h1>All Attendants</h1>
        <div class="access">
            <button onclick="printSelected('tb')">print <i class="bi bi-printer"></i></button>
            <button onclick="printSelected('tb')">export pdf <i class="bi bi-filetype-pdf"></i></button>
            <button style="background-color: green;width: fit-content;" onclick="openModal()">Add attendant <i class="bi bi-plus-lg"></i></button>
        </div>
        <table id="tb">
            <thead>
                <tr>
                    <td>SN</td>
                    <td>Username</td>
                    <td>Full name</td>
                    <td>Gender</td>
                    <td>Date of birth</td>
                    <td>Email</td>
                    <td>Phone number</td>
                    <td colspan='2'>Actions</td>
                </tr>
            </thead>
            <tbody>
                
                {% for attendant in attendants %}
                    <tr id="tr{{attendant.id}}">
                        <td>{{forloop.counter}}</td>
                        <td>{{attendant.username}}</td>
                        <td>{{attendant.get_full_name}}</td>
                        <td>{{attendant.get_gender_display}}</td>
                        <td>{{attendant.date_of_birth}}</td>
                        <td><a href="mailto:{{attendant.email}}">{{attendant.email|truncatechars:'20'}}</a></td>
                        <td><a href="tel:{{attendant.phone_no}}">{{attendant.phone_no|truncatechars:'10'}}</a></td>
                        <input type="text" hidden value="{% url 'administrator:suspend-attendant' attendant.id %}" id="suspend{{attendant.id}}">
                        <input type="text" hidden value="{% url 'administrator:delete-attendant' attendant.id %}" id="delete{{attendant.id}}">
                        <td class="table-actions">
                           
                           {% if attendant.is_active %}
                           <button id="tr{{attendant.id}}-susbtn" onclick="suspendAttendant(document.querySelector('#suspend{{attendant.id}}').value,'{{attendant.id}}')">Suspend</button>
                           {% else %}
                           <button id="tr{{attendant.id}}-susbtn" onclick="suspendAttendant(document.querySelector('#suspend{{attendant.id}}').value,'{{attendant.id}}')">Unuspend</button>
                           {% endif %}
                            
                        </td>
                        <td class="table-actions"><button onclick="deleteAttendant(document.querySelector('#delete{{attendant.id}}').value,'{{attendant.id}}')">Delete</button></td>
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
    
        
</div>
<script>

    async function suspendAttendant(url,id){
        let loading = document.querySelector('.loading-modal')
        loading.querySelector('p').innerText = 'please wait...'
        loading.style.display = 'flex'

        const response = await fetch(url)
        const data = await response.json()
        if(data.success){
            loading.querySelector('p').innerText = 'successfully'
            document.querySelector(`#tr${id}-susbtn`).innerText = document.querySelector(`#tr${id}-susbtn`).innerText == 'Suspend' ? 'Unsuspend' : 'Suspend'

         }else{
            loading.querySelector('p').innerText =  'Error occured'
        }
        setTimeout(()=>loading.style.display = 'none', 1500)
    }
    async function deleteAttendant(url,id){
        let loading = document.querySelector('.loading-modal')
        loading.querySelector('p').innerText = 'Removing Attendant...'
        loading.style.display = 'flex'

        const response = await fetch(url)
        const data = await response.json()
        if(data.success){
            loading.querySelector('p').innerText = 'successfully'
            document.querySelector(`#tr${id}`).remove()
        }else{
            loading.querySelector('p').innerText =  'Error occured'
        }
        setTimeout(()=>loading.style.display = 'none', 1500)
    }
    function printSelected(id){
        alert('not workin right now...later work')
        return
        const printable = document.getElementById(id).innerHTML;
        const originlContent = document.body.innerHTML;
        //document.body.innerHTML = printable;
        let o = window.open('','processPrint')
        o.document.open()
        o.document.write(`<!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <link rel="stylesheet" href="/static/css/admin-dashboard.css">  
                    </head>
                    <body>
                    ${printable}
                    </body>
                    </html>
        `)
        o.document.close()
        o.print()
        //window.print()
        //document.body.innerHTML = originlContent;
    }
</script>


{% endblock main %}