{% extends 'base.html' %}
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">  

{% endblock styles %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock script %}
{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block main %}
{% include 'administrator/components/aside.html' %}
        <section class="view kit">

            <h1>{{kitchen.name}}</h1>
            <p>{{kitchen.address}}</p>
            <b>{{kitchen.phone_number}}</b>
            
            {% if kitchen.attendant %}
                <b>{{kitchen.attendant.get_full_name}}</b>
            {% else %}
                <form action="{% url 'administrator:assign-attendant' kitchen.id %}" method="post">
                    {% csrf_token %}
                    <input type="search" list="users" name="user">
                    <button>set</button>
                    <datalist  id="users">
                        
                        {% for user in users %}
                            <option>{{user.username}}</option>
                        {% endfor %}
                            
                    </datalist>
                </form>
            {% endif %}
            <img src="{{kitchen.cover}}" />
            <div class="shortcuts">
                    <div class="shortcut info">
                        <a href="{% url 'administrator:kitchen-orders' kitchen.id %}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Orders
                        
                        </a>
                    </div>
                    <div class="shortcut his">
                        <a href="{% url 'administrator:kitchen-orders-summary' kitchen.id %}">
                            <i class="fa fa-table-list"></i>
                        Orders Summary
                        </a>
                    </div>
                    <div class="shortcut pen">
                        <a href="{% url 'restaurant:order-pending' %}">
                            <i class="fa fa-timeline"></i>
                        Check pending Order 
                        </a>
    
                    </div>
                    <div class="shortcut pen">
                        <a href="{% url 'administrator:foods' %}">
                            <i class="fa-solid fa-utensils"></i>
                        Foods
                        </a>
                    </div>
                    <div class="shortcut pen">
                        <a href="{% url 'administrator:not-available' %}">
                            <i class="fa fa-timeline"></i>
                        Not Available
                        </a>
    
                    </div>
                    <div class="shortcut pen">
                        <a href="{% url 'administrator:kitchens' %}">
                            <i class="fa-solid fa-kitchen-set"></i>
                        Kitchen
                        </a>
                    </div>
                    </div>
                

        </section>

{% endblock main %}