{% extends 'authentication/base.html' %}
    
{% block main %}
<div class="signin-wrapper admin">
  <form action="" method='post' class="login">
    {% csrf_token %}
    <div class="head">
      <h2>Admin Login <i class="fa fa-user-gear"></i></h2>
    </div>
    <label for="username">
        Username
        <input type="text" id="username" name='username'>
    </label>
    <label for="password">
        Password
        <input id="password" type="password" name='password'>
    </label>
    <button type="submit">Sign In</button>
    <div class="tail">
        <a href="/">forgot password?</a>
    </div>
  </form>
</div>

{% endblock main %}
