{% extends 'base.html' %}
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">  

{% endblock styles %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock script %}
{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block main %}
{% include 'administrator/components/aside.html' %}
       
            <div class="kitchen">
                <p><b>Note:</b> Kitchen is not assign to kitchen attendant by default, <a href="/">know more</a></p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input nname name="name" type="text" placeholder='Name'>
                    <input image type="file" name="image" />
                    <textarea address  placeholder='Address' name='address' ></textarea>
                    <input phone type="text" placeholder='Phone Number' name='phone_no'>
                    <button type="submit">Create</button>
                </form>
            </div>
        

{% endblock main %}