{% extends 'admin-layout.html' %}
{% load static %}
{% block title %} Administrator | Orders{% endblock title %}

{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>
{% endblock script %}

{% block aside %}
    
{% include 'administrator/components/aside.html' %}
{% endblock aside %}
    
{% block main %}

<div class="view">
    
    <div class="order-item-wrapper">
        <h1>All Orders</h1>
        <div class="access">
            <button onclick="printSelected('tb')">print</button>
            <button onclick="printSelected('tb')">export pdf</button>
        </div>
        <table id="tb">
            <thead>
                <tr>
                    <td>SN</td>
                    <td>Customer</td>
                    <td>Phone number</td>
                    <td>Item name</td>
                    <td>Category</td>
                    <td>Qty</td>
                    <td>Date/Time</td>
                    <td>Delivery address</td>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{order.customer.get_full_name}}</td>
                        <td>
                        {% if order.order.phone_no %}
                            {{order.order.phone_no}}
                        {% else %}
                            {{order.customer.phone_no}}
                        {% endif %}
                            </td>
                        <td>{{order.name}}</td>
                        <td>{{order.category.name}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.date}}-{{order.time}}</td>
                        <td>{{order.delivery_point}}</td>
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
    
        
</div>
<script>
    function printSelected(id){
        alert('not workin right now...later work')
        return
        const printable = document.getElementById(id).innerHTML;
        const originlContent = document.body.innerHTML;
        //document.body.innerHTML = printable;
        let o = window.open('','processPrint')
        o.document.open()
        o.document.write(`<!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <link rel="stylesheet" href="/static/css/admin-dashboard.css">  
                    </head>
                    <body>
                    ${printable}
                    </body>
                    </html>
        `)
        o.document.close()
        o.print()
        //window.print()
        //document.body.innerHTML = originlContent;
    }
</script>


{% endblock main %}