{% extends 'admin-layout.html' %}
{% load static %}
{% block title %} Administrator | Profle{% endblock title %}

{% block aside %}
{% include 'administrator/components/aside.html' %}
{% endblock aside %}
    
{% block main %}
        <section class="view">
            <div class="admin-profile">
                        
            <h1>{{restaurant.name}}</h1>
            <div class="profile-body">
                <img 
                src="{{user.profile_picture.url}}"
                
                      alt="">
                <p name>Name {{user.get_full_name}}</p>
                <p email>Email {{user.email}}</p>
                <p pn>Phone Number {{user.phone_no}}</p>
                <p gn>Gender 
                    {{user.gender}}
                    </p>
                <p at>Attendants {{restaurant.kitchen.attendants.count}}</p>
            </div>
            <a href="{% url 'administrator:update-profile' %}">update profile</a>
            </div>
      </section>
  {% endblock main %}


  
  {% block script %}

<script src="{% static 'js/admin.js' %}" defer></script>


  {% endblock script %}
    