{% extends 'admin-layout.html' %}
{% load static %}
{% block title %} Administrator | Profle{% endblock title %}


{% block aside %}
{% include 'administrator/components/aside.html' %}
{% endblock aside %}
    
{% block main %}
        <section class="view">
            <div class="admin-profile">
                        
            <h1>{{restaurant.name}}</h1>
            <form method='post' enctype="multipart/form-data" class="profile-body">
                {% csrf_token %}
                <img src="" alt="" imgdisplay>
                <p name>Name <input type="text" value="{{user.get_full_name}}" name="full_name"></p>
                <p email>Email <input type="email" name="email" value="{{user.email}}"></p>
                <p pn>Phone Number <input type="text" name="phone_no" value="{{user.phone_no}}"></p>
                <p gn>Gender {% if user.gender == '' %}
                    <select name="gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    {% else %}
                    {{user.gender}}
                {% endif %}</p>
                <p at>Attendants {{restaurant.kitchen.attendants.count}}</p>
                <input type="file" fileinput name="profile-pic" hidden>
                <button type="button" selectimg>select profile Image</button>
                <button type="submit">save account</button>
            </form>
            </div>
      </section>
  {% endblock main %}


  
  {% block script %}

<script src="{% static 'js/admin.js' %}" defer></script>

    <script>


        const fileInp = document.querySelector('[fileinput]')
        const btn = document.querySelector('[selectimg]')
        btn.addEventListener('click', ()=> fileInp.click())
        fileInp.addEventListener('change', ()=>{
            document.querySelector('[imgdisplay]').src = URL.createObjectURL(fileInp.files[0])
        })

    </script>

  {% endblock script %}
    