{% extends 'base.html' %}
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">  
<link rel="stylesheet" href="{% static 'css/chats.css' %}">  

{% endblock styles %}
{% block title %} Administrator | Chat{% endblock title %}

{% block script %}
<script src="{% static 'js/admin.js' %}" defer></script>

{% endblock script %}
{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block main %}
{% include 'administrator/components/aside.html' %}
        <section class="view">
            
            {% include 'administrator/components/chat.html' with messages=msgs %}
                
          
        </section>

{% endblock main %}


