{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StemCoder Eatery, a place to order food online within Ahmadu Bello University Zaria, all variaety of food is available">
    <meta name="keywords" content="restaurant, online food, order food, Ahmadu Bello Univeristy, Zaria food, StemCoder Eatery">
    <link rel="icon" href="{% static 'img/logo.jpg' %}" type = "image/x-icon">
    
    
    {% block styles %}
    <link rel="stylesheet" href="{% static './css/admin-dashboard.css' %}">  
    {% endblock styles %}
    <link rel="stylesheet" href="" id="theme-css">  

    {% block style %}
    
    {% endblock style %}
    <link rel="stylesheet" href="{% static './css/loading.css' %}">  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
  <title>
    Foodify | 
    {% block title %}
        Dashboard
    {% endblock title %}
        
  </title>
  
</head>
<body>
    <div class="loading-modal">
        <p>loading ...</p>
    </div>
    <div id="modal" class="modal">
        
        {% block modal %}
            
        {% endblock modal %}
            
    </div>
    <aside>
        {% block aside %}
            
        {% endblock aside %}
    </aside>
                   
    <main>    
        {% block main %}{% endblock main %}
    </main>
    {% block script %}{% endblock script %}
    <script>
        function changeTheme(){
            let theme = localStorage.getItem('theme');
            if(theme == undefined){
                theme = 'dark'
            }
            else{
                theme = theme == 'dark' ? 'light' : 'dark'
            }
            setTheme(theme)
            localStorage.setItem('theme', theme)
        }
        
        function setTheme(theme){
            if(theme){
                document.getElementById('theme-css').href = `{% static 'css/${theme}.css' %}`
                return
            }
            document.getElementById('theme-css').href = `{% static 'css/light.css' %}`
        }
        setTheme(localStorage.getItem('theme'))
        {% if messages %}
        {% for message in messages %}
            alert('{{message}}')
        {% endfor %} 
        {% endif %}
      </script>
</body>
</html>