{% load static %}
<link rel="stylesheet" href="{% static './css/header.css' %}">
<header>
    <img src="{% static './img/logo.jpg' %}" alt="" class="logo">
    <nav>
        
        {% if user.is_authenticated %}
        <button class='close-nav' nav><i class='fa fa-bars'></i></button>
        
        <ul ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'restaurant:categories' %}">Category</a></li>
            <li><a href="{% url 'restaurant:about' %}">About</a></li>
            <li><a href="{% url 'restaurant:dashboard' %}">Dashboard</a></li>
                
        </ul>
        {% else %}
        <span class="already_user">
            Have an account? <a href="{% url 'authentication:login' %}"> Sign In</a> | <a href="{% url 'authentication:register' %}"> Sign Up</a>
        </span> 
        {% endif %}
            
    </nav>
    <div class="nav-socials">
        <ul>
            <li><a href="/"><i class="fa fa-bars"></i></a></li>
            <li><a href="/"><i class="fa fa-heart"></i></a></li>
            <li><a href="/"><i class="fab fa-twitter"></i
                ></a></li>
            <li><a href="/"><i class="fab fa-facebook-f"></i
                ></a></li>
            <li><a href="/"><i class="fab fa-whatsapp"></i
                ></a></li>
        </ul>
    </div>
</header>
<script>
    const toggleNav = document.querySelector('[nav]')
    toggleNav.addEventListener('click', ()=> document.querySelector('[ul]').classList.toggle('show'))

</script>