{% load static %}

<aside class='aside' data-aside>
    <button class="close-aside">close</button>
        <i class="fa fa-user-circle"></i>
        <span>
            <a href="{% url 'administrator:profile' %}" style="color: white;text-decoration: none;">Profile</a>
        </span>
    <ul>
        <li><a href="{% url 'kitchen:dashboard' %}"><i class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
        <li><a href="{% url 'kitchen:add-food' %}"><i class="fa-solid fa-bowl-food"></i> Add Food</a></li>
        <li><a href="{% url 'administrator:posts' %}"><i class="fa fa-file"></i> Post</a></li>
        <li><a href="{% url 'kitchen:delivered' %}"><i class="fa-solid fa-file"></i> Delivered</a></li>
        
        
        <li><a href="{% url 'kitchen:not-available-food' %}"><i class="fa-solid fa-utensils"></i> Not Available ({{kitchen.foods_not_available}})</a></li>
        <li class="admin-sets-li" style="
        flex: 2;
        display: flex;
        align-items: flex-end;
    ">
            <button class="admin-sets" admin-sets>Kitchen settings</button>
            <div class="admin-sets-list" admin-sets-view style="
            top: initial;
        ">
                <ul>
                    <li><a href="{% url 'administrator:change-password' %}">Change Password</a></li>
                    <li><a href="{% url 'authentication:logout' %}">Log Out</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <script>
        function closeAside(){
            document.querySelector('aside').classList.toggle('show')
        }
        document.querySelector('.close-aside').addEventListener('click', closeAside)
    </script>
</aside>