{% load static %}
<nav>
    <div class="info">
        <img src="{{user.profile_pic}}" alt="">
        <b>
            <a href="{% url 'kitchen:dashboard' %}">{{user.get_full_name}}</a></b>
    </div>
    <ul>
        <li><a href="{% url 'administrator:dashboard' %}"><i class="bi bi-ui-radios-grid"></i> Dashboard</a></li>
        {% comment %} <li><a href="{% url 'administrator:category' %}"><i class="bi bi-collection"></i> Categories</a></li> {% endcomment %}
        <li><a href="{% url 'kitchen:add-food' %}"><i class="bi bi-cart-check"></i> Add food</a></li>
        <li><a href="{% url 'kitchen:delivered' %}"><i class="bi bi-cart-check"></i> Delivered food</a></li>
        <li><a href="{% url 'kitchen:not-available-food' %}"><i class="bi bi-people"></i>  out of food</a></li>
        <hr>
        <li><a href="{% url 'administrator:foodify-chat' %}"><i class="bi bi-chat-right-text"></i> foodify public</a></li>
        <li><a href="{% url 'administrator:staff-chat' %}"><i class="bi bi-chat-right-quote"></i>  Staff chat </a></li>
        <div class="last">
            <hr>
            <li><button onClick="changeTheme()"><i class="bi bi-cloud-moon-fill"></i> Change theme</button></li>
            {% comment %} <li><a href="{% url 'administrator:posts' %}"><i class="bi bi-gear"></i> Setting</a></li> {% endcomment %}
            <li><a href="{% url 'administrator:change-password' %}">Change Password</a></li>
            <li><a href="{% url 'authentication:logout' %}"><i class="bi bi-box-arrow-right"></i> Log Out</a></li>

        </div>

    </ul>
</nav>